<h1>'<%= @query %>'</h1>

<% if @things.any? %>
  <%= render partial: 'things/table', locals: {things: @things} %>
  <%= will_paginate @things %>
<% else %>
  <p><strong>Bzzt.</strong> No '<%= @query %>' things.</p>
<% end %>
