/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

#sketch-header {
  font-weight: bold;
  border-right: 1px solid #ccc;
  width: 960px;
  float: left;
  .start {
    float: left;
  }
  .end {
    float:right;
  }
}

#accession-header {
  font-weight: bold;
  width: 162px;
  float: left;
  .start {
    float: left;
  }
  .end {
    float:right;
  }
}

#sketch-container {
  width: 960px;
  height: 30000px;
  background: black;
  position: relative;
  float: left;

  a.block {
    display: block;
    position: absolute;
    /*border-top: 1px solid #888;*/
    height: 3px;

    &.forcehover {
      background: yellow !important;
    }

    &:hover, &:active {
      background: yellow !important;
      text-decoration: none !important;
    }

    &.very_red {
      &:link, &:visited {
        background: #ff0000;
      }
    }
    &.quite_red {
      &:link, &:visited {
        background: #cc0000;
      }
    }
    &.little_red {
      &:link, &:visited {
        background: #880000;
      }
    }
    &.not_red {
      &:link, &:visited {
        background: #440000;
      }
    }
  }
}

#accessions {
  background: #eee;
  float: left;
  width: 162px;
  height: 30000px;
  position: relative;
  a.accession {
    display: block;
    position: absolute;
    width: 3px;
    height: 3px;
    background: #2a6496;
    span {
      display: none;
    }
    &.highlight {
      border: 1px solid red;
    }
    &.missing {
      background: darkred;
    }
    &:hover, &:active {
      border: 1px solid red;
      text-decoration: none !important;
    }
  }
}

img.popover {
  position: absolute;
  display: block;
}
