/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body.dark {
  background: black;
}

#header {

}

#object-dates {
  font-weight: bold;
  border-right: 1px solid #ccc;
  width: 960px;
  float: left;
  .start {
    float: left;
  }
  .end {
    float:right;
    padding-right: 5px;
  }
  color:yellow;
}

#accession-dates {
  font-weight: bold;
  width: 162px;
  float: left;
  .start {
    float: left;
    padding-left: 5px;
  }
  .end {
    float:right;
  }
  color:cyan;
}

#sketch-container {
  width: 960px;
  height: 30000px;
  background: black;
  position: relative;
  float: left;

  a.block {
    display: block;
    position: absolute;
    /*border-top: 1px solid #888;*/
    height: 3px;

    &.forcehover {
      background: yellow !important;
    }

    &:hover, &:active {
      background: yellow !important;
      text-decoration: none !important;
    }

    &.very_yellow {
      &:link, &:visited {
        background: #ffff00;
      }
    }
    &.quite_yellow {
      &:link, &:visited {
        background: #cccc00;
      }
    }
    &.little_yellow {
      &:link, &:visited {
        background: #888800;
      }
    }
    &.not_yellow {
      &:link, &:visited {
        background: #444400;
      }
    }
  }
}

#accessions {
  background: black;
  float: left;
  width: 162px;
  height: 30000px;
  position: relative;
  a.accession {
    display: block;
    position: absolute;
    width: 3px;
    height: 3px;
    background: cyan;
    span {
      display: none;
    }
    &.highlight {
      border: 5px solid cyan;
    }
    &.missing {
      background: darkred;
    }
    &:hover, &:active {
      border: 5px solid cyan;
      text-decoration: none !important;
    }
  }
}

img.popover {
  position: absolute;
  display: block;
}
