/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body.dark {
  background: black;
}

#header {
  position: relative;
}

#footer {
  border-top: 1px dotted #ccc;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
}

#explanation {
  color: #aaa;
}

#object-dates {
  font-weight: bold;
  border-right: 1px solid #ccc;
  width: 80%;
  float: left;
  background: #000;
  .start {
    float: left;
  }
  .end {
    float:right;
    padding-right: 5px;
  }
  color:yellow;
}

#accession-dates {
  font-weight: bold;
  background: #000;
  width: 20%;
  float: left;
  .start {
    float: left;
    padding-left: 5px;
  }
  .end {
    float:right;
  }
  color:cyan;
}

#objects {
  height: 30000px;
  position: relative;
}
#sketch-container {
  width: 80%;
  background: black;
  position: relative;
  float: left;

  a.block {
    display: block;
    position: absolute;
    /*border-top: 1px solid #888;*/
    height: 3px;

    &.forcehover {
      background: yellow !important;
    }

    &:hover, &:active {
      background: yellow !important;
      text-decoration: none !important;
    }

    &.very_yellow {
      &:link, &:visited {
        background: #ffff00;
      }
    }
    &.quite_yellow {
      &:link, &:visited {
        background: #cccc00;
      }
    }
    &.little_yellow {
      &:link, &:visited {
        background: #888800;
      }
    }
    &.not_yellow {
      &:link, &:visited {
        background: #444400;
      }
    }
  }
}

#accessions {
  background: black;
  float: left;
  width: 20%;
  height: 30000px;
  margin-left: 80%;
  position: relative;
  a.accession {
    display: block;
    position: absolute;
    width: 3px;
    height: 3px;
    background: cyan;
    span {
      display: none;
    }
    &.highlight {
      border: 5px solid cyan;
      margin-top: -3px;
      margin-left: -3px;
    }
    &.missing {
      background: darkred;
    }
  }
}

img.popover {
  position: absolute;
  display: block;
  max-width: 75px;
  max-height: 75px;
}

.stickable {
  padding:5px;
}
