.navbar-brand {
	font-weight: bold;
	background-color: black;
	padding:3px;
	margin-left: 5px;
}
.stickable.stick {
    position: fixed;
    top: 0;
    z-index: 10000;
    border-radius: 0 0 0.5em 0.5em;
}
