body {
  font-family: 'Clavo', serif !important;
}
.navbar-brand {
	font-weight: bold;
	/*background-color: black;*/
	/*padding:3px;*/
	/*margin-left: 5px;*/
}

.navbar-brand.gfs {
  margin-left: 0;
  margin-top: -2px;
  padding: 3px;
}

.navbar-brand.gfs img {
  height: 50px;
  margin-right: 10px;
}

.stickable.stick {
    position: fixed;
    top: 0;
    z-index: 10000;
    border-radius: 0 0 0.5em 0.5em;
}
