<h1><a href="/facets">Facets</a> / Artists</h1>

<table class="table">
  <thead>
    <tr>
      <th>Artist</th>
      <th># here
    </tr>
  </thead>
  <tbody>
    <% for artist in @artist_things %>
      <tr>
        <td><%= link_to artist.name, artist_path(id: artist.name) %></td>
        <td><%= artist.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @artist_things %>

