<table class="table">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <% if things.any? %>
        <% for key in things.first.keys.sort %>
          <th><%= key %></th>
        <% end %>
      <% else %>
        <th>&nbsp;</th>
      <% end %>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% for thing in things %>
      <%= render partial: 'things/table_row', locals: {thing: thing} %>
    <% end %>
  </tbody>
</table>
