%h1 Distinct values for facet: #{@facet}

%table.table
  %thead
    %tr
      %th Value
      %th # with this value
  %tbody
    - for v in @facet_vals
      - unless v.first.blank?
        %tr
          %td= link_to v.first, facet_thing_path(@facet,v.first)
          %td= v.last

= will_paginate @values
