%tr
  %td= link_to 'view', thing_path(thing)
  - for field in Thing.attribute_names
    %td
      - if Facet.all.include?(field) && !thing.send(field).blank?
        = link_to thing.send(field), facet_thing_path(field, thing.send(field))
      - else
        = thing.send(field)
  %td= link_to 'view', thing_path(thing)
