<table class="table">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <% for field in Thing.attribute_names %>
        <th><%= field %></th>
      <% end %>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% for thing in @things %>
      <%= render partial: 'things/table_row', locals: {thing: thing} %>
    <% end %>
  </tbody>
</table>
